{% extends 'base.html' %}
{% block title %}Vehicle Vault{% endblock %}
{% load static %}
{% block content %}

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-text">
    <h1>Find Your Next Ride </h1>
    <p>Browse, compare and book cars effortlessly.</p>
    <a href="{% url 'car_list' %}" class="hero-btn">Browse Cars</a>
</div>

<!-- HERO CAROUSEL -->
<div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/hero-bg.jpg' %}" class="d-block w-100" alt="Car 1">
        </div>

        <div class="carousel-item">
            <img src="{% static 'images/bg.jpg' %}" class="d-block w-100" alt="Car 2">
        </div>

        <div class="carousel-item">
            <img src="{% static 'images/bg2.jpg' %}" class="d-block w-100" alt="Car 3">
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
</section>

<!-- FEATURES -->
<section class="features">
    <div class="feature-card">
        <h3>🔍 Search & Filter</h3>
        <p>Find cars by brand, budget, fuel type & year.</p>
    </div>

    <div class="feature-card">
        <h3>⚖️ Compare Cars</h3>
        <p>Compare specifications side-by-side before buying.</p>
    </div>

    <div class="feature-card">
        <h3>📅 Book Test Drive</h3>
        <p>Schedule test drives with verified sellers.</p>
    </div>
</section>

{% endblock %}